.accomodation-list {
  align-items: center;
  background-color: #f7f7f7;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 3.75rem;
  margin:43px 0;
  padding:56px 50px;
}

@media(max-width: 1440px) {
  .accomodation-list {
   justify-content: center;
  }
}

@media(max-width: 1039px) {
  .accomodation-list li {
    width: 100%;
  }
}

@media(max-width: 768px) {
  .accomodation-list {
    margin:20px 0;
    padding:0;
    gap:1.25rem;
  }
}