.accomodation-list {
  background-color: #f7f7f7;
  border-radius: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.accomodation-list li {
  max-width: 340px;
  height: 340px;
}
