.gallery {
  background-color: #f7f7f7;
  border-radius: 25px;
  width: 100%;
}

.gallery ul {
  display:flex;
  flex-wrap: wrap;
  gap:1rem;
}

.gallery ul li{
  max-width: 340px;
  height: 340px;
}
